---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'button'>;

const { class: className, ...props } = Astro.props;
---

<button class="v-button text-purple-500 bg-purple-200 px-2 py-1 whitespace-nowrap rounded-lg" @click="count++ " {...props}>
  <slot />
</button>


