---
import FormattedDate from '../components/FormattedDate.astro';
import Link from '../components/Link.astro';
import BlogPost from '../layouts/BlogPost.astro';
import { getPosts } from '../utils';

const posts = await getPosts(({ data }) => {
	return data.blog !== false;
});
---
<BlogPost>
	<div class="text-lg flex flex-col gap-2">
		{
			posts.map(post => (
				<Link href={`/blog/${post.id}/`} class="flex gap-4 hover:text-sky-700">
					<span class="flex-grow whitespace-nowrap overflow-hidden text-ellipsis">{post.data.title}</span>
					<p class="date">
						<FormattedDate date={post.data.updatedDate || post.data.pubDate} />
					</p>
				</Link>
			))
		}
	</div>
</BlogPost>
