---
import BlogPost from '../layouts/BlogPost.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Link from '../components/Link.astro';
import { getPosts } from '../utils';

const posts = await getPosts();
---
<BlogPost>
	<div class="text-lg flex flex-col gap-2">
		{
			posts.map((post) => (
				<Link href={`/blog/${post.id}/`} class="flex gap-4 hover:text-sky-600">
					<h4 class="flex-grow">{post.data.title}</h4>
					<p class="date">
						<FormattedDate date={post.data.updatedDate || post.data.pubDate} />
					</p>
				</Link>
			))
		}
	</div>
</BlogPost>
