{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container post">
    <article>
      <header>
        <div class="post-title">
          <h1 class="title">
            <a class="title-link" href="{{ .Permalink | safeURL }}">
              {{ .Title }}
            </a>
          </h1>

          <!-- change -->
          <div class="edit-link" style="float: right; color: #0366d6;">
            <a class="title" target="_blank" href="{{ .Site.Params.editUrl }}/content/{{ .File.Path }}">编辑</a>
          </div>
          <!-- end -->
        </div>
        <div class="post-meta">
          <div class="date">
            <span class="posted-on">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-date"></use>
              </svg>
              <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                {{ .Date.Format (.Site.Params.dateFormat | default "2006-01-02" ) }}
              </time>
            </span>
          </div>
          {{ with .Page.Params.Authors }}{{ partial "taxonomy/authors.html" . }}{{ end }}
          {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
          {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
        </div>
      </header>

      <div>
        {{ if .Params.featuredImage }}
          <img src='{{ .Params.featuredImage }}' alt="Featured image"/>
        {{ end }}
        {{ .Content }}
      </div>


      <footer>
        {{ partial "posts/series.html" . }}
        {{ partial "posts/disqus.html" . }}
        {{ partial "posts/commento.html" . }}
        {{ partial "posts/utterances.html" . }}
      </footer>

      <!-- change -->
      <div id="cusdis_thread"
        data-host="https://cusdis.com"
        data-app-id="c2b015f9-9a4b-4997-b66f-f9c6ca26ebdd"
        data-page-id="{{ .File.UniqueID }}"
        data-page-url="{{ .Permalink }}"
        data-page-title="{{ .Title }}"
        data-theme="dark"
      ></div>
      <!-- end -->
    </article>

    {{ partial "posts/math.html" . }}
  </section>
{{ end }}
