---
type Props = {
  data?: string;
};

const { data } = Astro.props;
---

<div class="text-center">
  <div class="text-center m-4">该篇文章已经过加密</div>
  <button id="button-decrypt" class="text-center text-4xl font-bold hover:text-sky-700 m-6" data-data={data}>点击查看</button>
</div>

<script>
  import { decrypt } from '../shared';

  async function decryptData(data: string, tip?: string) {
    try {
      // eslint-disable-next-line no-alert
      const password = prompt(tip || '请输入密码');
      if (!password) {
        return;
      }
      const result = await decrypt(data, password);
      return result;
    } catch (error) {
      return decryptData(data, '密码错误, 请重新输入密码');
    }
  }
  document.getElementById('button-decrypt')?.addEventListener('click', async function () {
    const result = await decryptData(`${this.dataset.data}`);
    if (result && this.parentElement) {
      this.parentElement.outerHTML = result;
    }
  });
</script>

