---
import Github from '@/assets/github.svg';
import { REPOSITORY, SITE_TITLE } from '@/consts';
import Link from './Link.astro';
---

<header class="sticky top-0 px-4 bg-white z-10 shadow-md">
	<nav class="w-full max-w-6xl m-auto elect-none flex justify-between items-center text-2xl my-4">
		<div class="flex gap-2 md:gap-4 items-center font-bold">
			<h2><a href="/">{SITE_TITLE}</a></h2>
		</div>
		<div class="flex gap-2 md:gap-4">
			<Link class="px-1" href="/">Home</Link>
			<Link class="px-1" href="/tag/">Tag</Link>
			<Link class="px-1" href="/assets/" class="hidden md:inline">Assets</Link>
			<Link class="px-1" href="/about/">About</Link>
			<a href={REPOSITORY} target="_blank" aria-label="GitHub" class="hidden md:inline">
				<Github />
			</a>
		</div>
	</nav>
</header>
