---
import Github from '@/assets/github.svg';
import { NAVS, REPOSITORY, SITE_TITLE } from '@/consts';
import Link from './Link.astro';
---

<header class="sticky top-0 px-4 bg-white z-50 shadow-md">
	<nav class="w-full max-w-6xl m-auto elect-none flex justify-between items-center text-2xl my-3 md:my-4">
		<div class="flex gap-2 md:gap-4 items-center font-bold">
			<h2><a href="/">{SITE_TITLE}</a></h2>
		</div>
		<span data-astro-button-menu class="md:hidden select-none cursor-pointer text-3xl leading-none">☰</span>
		<div class="z-20 md:visible! flex gap-2 md:gap-4 flex-col md:flex-row max-md:absolute max-md:bg-white max-md:left-0 max-md:right-0 max-md:top-14 max-md:gap-4 max-md:py-6 max-md:shadow max-md:border-t max-md:border-gray-300 max-md:invisible">
			{
				NAVS.map(v => (
					<Link href={v.heref} class="px-1 justify-center">
						{v.label}
					</Link>
				))
			}
			<a href={REPOSITORY} target="_blank" aria-label="GitHub">
				<Github class="m-auto" />
			</a>
		</div>
	</nav>
</header>

<script>
document.querySelector('[data-astro-button-menu]')?.addEventListener('click', (e: any) => {
  const menu = e.target?.nextElementSibling;
  if (!menu) {
    return;
  }
  if (getComputedStyle(menu).visibility === 'hidden') {
    e.target.textContent = '✕';
    menu.style.visibility = 'visible';
  } else {
    e.target.textContent = '☰';
    menu.style.visibility = 'hidden';
  }
});
</script>
