---
import SearchSVG from '../assets/search.svg';
---

<astro-sarch>
  <div class="flex items-center text-base font-normal relative">
    <input class="rounded-tl rounded border px-1 w-32 h-8 focus:w-48" />
    <SearchSVG class="absolute right-1 text-2xl" />
  </div>
</astro-sarch>

<script>
  // 为我们的新 HTML 自定义元素定义行为。
  class AstroSearch extends HTMLElement {
    connectedCallback() {

      const searchInput = this.querySelector('input') as HTMLInputElement;

      searchInput.addEventListener('keydown', (e) => {
        if (e.key === 'Enter') {
          // `https://www.google.com/search?q=site:${window.location.host} ${searchInput.value}`
          window.open(`https://github.com/ckvv/ckvv.github.io/search?l=Markdown&q=${searchInput.value}`, '_blank')
        }
      });
    }
  }

  // 告诉浏览器将我们的 AstroHeart 类用于 <astro-heart> 元素。
  customElements.define('astro-sarch', AstroSearch);
</script>