<section class="container list">
  <h1 class="title">
    <a class="title-link" href="{{ .Permalink | safeURL }}">
      {{- if eq .Kind "term" -}}
        {{- i18n .Data.Singular | title -}}
        {{- print ": " -}}
      {{- end -}}

      {{- i18n (lower .Title) | default .Title | title -}}
    </a>
  </h1>
  {{ .Content }}
  <ul>
    {{ range $elem_index, $elem_val := .Paginator.Pages }}
      <li>
        <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
        <span style="font-size: 12px; padding-left: 8px;">
          {{ .Date.Format (.Site.Params.dateFormat | default "2006-01-02" ) }}
        </span>
      </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
