---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import { LANG } from '@/consts';
import '@/styles/global.css';

type Props = Partial<CollectionEntry<'blog'>['data']>;

const { title, description } = Astro.props;
---

<html lang={LANG} class="h-full bg-white">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="flex flex-col min-h-full">
		<Header />
		<main class="w-full max-w-5xl mx-auto px-4 py-8 flex-grow font-tabular-nums">
			<slot />
		</main>
	</body>
</html>

